/* .form { */
/* border: 1px solid var(--color-silver); */
/* background: black; */
/* display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2.5rem 1.8rem;
	gap: 2rem;
	background: rgba(255, 255, 255, 1);
	width: 80%;
	max-width: 400px;
	box-shadow: 0 0 5px 1px #ccc;
	position: absolute;
} */

.form {
	/* border: 1px solid var(--color-silver); */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2.5rem 1.8rem;
	gap: 2rem;
	background: rgba(255, 255, 255, 1);
	width: 80%;
	max-width: 400px;
	box-shadow: 0 0 5px 1px #ccc;
	/* background: black; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
}

/* .form-btn {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 0.8rem;
  background-color: var(--color-darkslateblue);
  border-radius: var(--br-104xl);
  width: 60%;
  align-self: center;
} */
.form-btn {
	padding: 1.2rem;
	font-size: larger;
}

.form-input {
	/* border: 2px solid var(--color-darkslateblue);rgb(79, 53, 82) */
	border: 2px solid rgb(79, 53, 82);
	font-weight: 500;
	background-color: transparent;
	display: flex;
	align-self: stretch;
	align-items: center;
	flex-direction: row;
	/* padding: var(--padding-mini) var(--padding-xl); */
	padding: 1rem 1.5rem;
	justify-content: flex-start;
	border-radius: 3px;
}

.login-header-wrapper {
	display: flex;
	flex-direction: row;
	/* padding: var(--padding-3xs) 3%; */
	padding: 0 3%;
	align-items: center;
	justify-content: flex-start;
}

.login-header {
	flex: 1;
	font-family: var(--font-ubuntu);
	/* color: var(--color-darkslateblue); */
	color: rgb(79, 53, 82);
	text-align: center;
}
.loginFormBtn {
	background: var(--primary1);
}
.loginFormBtn:hover {
	background: var(--primary3);
}

@media (orientation: portrait) {
}
